.imgeclass img {
    border-radius: 20px;
}

.imgeclass img:hover {
    transform: scale(1.2);
}

nav ul li a {
    text-decoration: none;
    margin-top: 50px;
    color: ivory;
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    letter-spacing: 3px;
    font-family: 'Loved by the King', cursive;
}

nav ul li {
    margin-top: 30px;
    float: right;
    font-size: 10px;
    margin-right: 25px;
    text-decoration: none;
    list-style: none;
}

nav ul li a:hover {
    color: #F5CA32;
    transform: scaleX(1.5);
}

header nav div {
    font-family: 'Modak', cursive;
    font-size: 35px;
    letter-spacing: 3px;
    padding-top: 25px;
    color: #F5CA32;
    float: left;
    /* display: inline-block; */
    padding: 20px;
}

#insan1 {
    margin-top: 5px;
    float: left;
    font-family: 'Loved by the King', cursive;
    font-weight: bold;
}

#insan2 {
    margin-top: 5px;
    float: right;
    font-family: 'Loved by the King', cursive;
    font-weight: bold;
}

#logoimg {
    margin-top: -20px;
}


footer #insan1{
    margin-top: 5px;
    float:left;
    font-family: 'Loved by the King', cursive;
    font-weight: bold;
    font-size: 30px;
    color: #F5CA32;
}

footer #insan2{
    margin-top: 5px;
    float:right;
    color: #F5CA32;
    font-family: 'Loved by the King', cursive;
    font-weight: bold;
    font-size: 30px;
}

footer #logoimg{

    margin-top: -20px;
}


section button :hover {
    background-color: #F5CA32;
}

#slog {
    padding: 15px;
    text-align: center;
    font-size: 50px;
    font-family: 'Loved by the King', cursive;
    border-style: none;
    margin-right: 15%;
}


#heart {
    -webkit-animation: swing 1s;
    animation: swing 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}



nav {
    background-color: #119DA4;
    height: 90px;
}

#topIssues {
    display: inline-block;
    list-style: none;
}

#firstIssue {
    border-style: solid;
    border-color: #119DA4;
    border-radius: 13px;
    width: 27%;
    text-align: center;
    float: left;
    margin-left: 13px;
    height: 620px;
    margin-top: 30px;
    margin-left: 40px;
    padding: 2px;
}

#monthly-food-packges {
    border-style: solid;
    border-color: #119DA4;
    border-radius: 13px;
    width: 27%;
    text-align: center;
    float: left;
    height: 620px;
    margin-top: 30px;
    margin-left: 85px;
}

#OrphanSponcir {
    border-style: solid;
    border-color: #119DA4;
    border-radius: 13px;
    width: 27%;
    text-align: center;
    float: right;
    margin-right: 5%;
    height: 620px;
    margin-top: 30px;
    margin-left: 40px;
}

.donationsSection {
    height: 70px;
    width: 333.25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pargraph {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    justify-content: left;
}

body div h2 {
    font-family: 'Handlee', cursive;
    padding: 3px;
    color: #2b2d42;
}

/* body div {
    margin-bottom: 90px;
} */

#donateSc:hover {
    color: rgb(245, 245, 245);
    background-color: #ffd166;
    transition: ease-in-out;
    padding: 9px;
}

#donatefood:hover {
    color: rgb(240, 240, 234);
    background-color: #ffd166;
    transition: ease-in-out;
    padding: 9px;
}

#donateOr:hover {
    color: rgb(240, 240, 234);
    background-color: #ffd166;
    transition: ease-in-out;
    padding: 9px;
}

#counterContainer {
    display: inline-block;
}


/*popmessage 
    /* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #ffd166;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 50%;
    height: 25%;
    font-family: 'Loved by the King', cursive;
    font-size: 40px;
}

footer {
    margin-bottom: -100px;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.social {
    height: 5px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.pg-footer {
    font-family: 'Roboto', sans-serif;
}

.footer {
    background-color: #004658;
    color: #fff;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-wave-path {
    fill: #FFFFF2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 100px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #FFFFF2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #FFFFF2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
    background-color: #FFFFF2;
    color: #00BEF0;
}

.button:last-of-type {
    margin-right: 0;
}

.footer-call-to-action-button {
    background-color: #027B9A;
    border-radius: 21px;
    color: #FFFFF2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.footer-call-to-action {
    margin-top: 30px;
}

.footer-call-to-action-title {
    color: #FFFFF2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027B9A;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #FFFFF2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027B9A;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    margin-bottom: 0px;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}



.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 500px;
    position: relative;
}

@media (min-width:480px) and (max-width:599px) {
    /* smartphones, Android phones, landscape iPhone */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
}

@media (min-width:600px) and (max-width: 800px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
    .footer-wave-svg {
        height: 50px;
    }
    .footer-content-column {
        width: 24.99%;
    }
}

@media (min-width: 568px) {
    /* .footer-content-column {
            width: 49.99%;
        } */
}